body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.word-div{
	
	margin:5px;
	background-color:peachpuff;
	padding:20px;
	border-radius:6px;
	text-align:center;
	font-size:2em;
}